  .tableM {
    max-height: 90%;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-collapse: collapse;
    margin-left: 10%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }

  table {
    text-align: center;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  .iconS {
    color: #323b45;
  }


  .icon {
    margin: 5%;
    color: #323b45;
  }

  .iconD {
    color: #ffffff;
  }

  .addEmployeeB {
    margin-top: 3%;
    margin-right: 5%;
    background-color: #1565c0;
  }

  h1{
    text-align: center;
    color: #1565c0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  }


  td,
  th {
    padding: 8px;
    text-align: center;
  }

  th {
    color: #1565c0;

  }


  #toButton {
    margin: 0.5%;
    display: flex;
    margin-inline-start: 60px;
    margin-right: 2px;

  }

  .buttonD {
    padding: 0.2%;
  }

  #inputsB {
    display: flex;
    align-items: stretch;
  }

  .example-full-width {
    width: 300px;

  }

  #s {
    flex-grow: 1;
  }

  
  
  .buttons-right {
    display: flex;
  }
 
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .buttons-container {
    display: flex;
    width: 100%; /* Match table width */
    justify-content:center;
  }
  
  .full-width {
    width: 100%;
    margin-left: 150px;
  }
  
  .buttonX, .buttonD {
    margin-left: 1rem;
  }
  
  